{% extends 'booking/base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'booking/booking.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'booking/bootstrap-datetimepicker.css' %}" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css"/>
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{{ block.super }}
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jeditable.js/1.7.3/jeditable.min.js"></script>
<script type="text/javascript" src="{% static 'booking/bootstrap-datetimepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'booking/bootstrap-editable.js' %}"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{% static 'booking/datatableview.js' %}"></script>
<script type="text/javascript" src="{% static 'booking/jquery.dataTables.editable.js' %}"></script>
{% endblock %}
{% block menu %}
         <div id="menu">
            <a id="menu3" href="/booking/ViewCalendar"></a>
            <a id="menu1" href="/booking/MyBooking"></a>
            <a id="menu2" href="/booking/NewBooking"></a>
            <a id="menu5" href="/booking/ManageUser" class="selected"></a>
            <a id="menu4" href="/booking/ManageBooking"></a>
         </div>
{% endblock %}
{% block content %}
<div id="padding30">
    {{ datatable }}
</div>
<script>
	$(function(){
    var xeditable_options = {};
    datatableview.initialize($('.datatable'), {
        fnRowCallback: datatableview.make_xeditable(xeditable_options),
    });
});
</script>
{% endblock %}
