
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon.png"/>
  <title>Meeting Room Booking System</title>

      {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}" />
</head>

<body>
  <body>
    <div class="app-title">
		<h1>
		<span style="color:black; font-size:30pt;">Capital Dynamics</span> 
		<br> 
		Meeting Room Booking System
		</h1>
    </div>
	{{ state }}
	<div class="login">
		<div class="login-screen">
		<form class="form-horizontal" method="post" action="{% url 'login' %}"> 
		{% csrf_token %}
			<div class="login-form">
				<div class="control-group">
					{{ form.login_user }}
				</div>

				<div class="control-group">
					{{ form.login_pass }}
				</div>

				<input type="submit" class="btn btn-primary btn-large btn-block" value="Login">
			</div>
		</form>
		</div>
		<br>
		{% if errors %}
		    <div class="alert alert-danger" role="alert">
		  	{{ errors }}
		    </div>
		{% endif %}
	</div>

	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</body>
</html>

