<html>
Your booking for {{Date}} has been reallocated.
</br>Please refer to the new booking details as below:

<p>
	<table border="0">
	  <tr>
	    <td><b>Booking ID:<b></td>
	    <td>{{ID}}</td>
	  </tr>
	  <tr>
	    <td><b>Date:<b></td>
	    <td>{{Date}}</td>
	  </tr>
	  <tr>
	    <td><b>Start Time:<b></td>
	    <td>{{StartTime}}</td>
	  </tr>
	  <tr>
	    <td><b>End Time:<b></td>
	    <td>{{EndTime}}</td>
	  </tr>
	  <tr>
	    <td><b>Room:<b></td>
	    <td>{{Room}}</td>
	  </tr>
	</table>
</p>

=====================================================
</br>
	<font size="-1" color="#708090">
		<p><i>
			Previous booking details: 
			</br>
			<b>Date:</b>&emsp;&emsp;&emsp;&nbsp; {{Date}}
			</br>
			<b>Start Time:</b>&ensp;&nbsp;&thinsp;  {{StartTime}}
			</br>
			<b>End Time:</b>&emsp;&ensp; {{EndTime}}
			</br>
			<b>Room:</b>&emsp;&emsp;&ensp;&nbsp; {{PreviousRoom}}
		</i></p>
	</font>

</html>