<html>
Your meeting room booking as below is being processed.
Please wait for approval. <br> Thank you.

<p>
	<table border="0">
	  <tr>
	    <td><b>Booking ID:<b></td>
	    <td>{{ID}}</td>
	  </tr>
	  <tr>
	    <td><b>Date:<b></td>
	    <td>{{Date}}</td>
	  </tr>
	  <tr>
	    <td><b>Start Time:<b></td>
	    <td>{{StartTime}}</td>
	  </tr>
	  <tr>
	    <td><b>End Time:<b></td>
	    <td>{{EndTime}}</td>
	  </tr>
	  <tr>
	    <td><b>Room:<b></td>
	    <td>{{Room}}</td>
	  </tr>
	</table>
</p>

</html>